* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightgrey;
}

.calculator {
    border-radius: 25px !important;
}

.bx-shd {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.txt-shd {
    text-shadow: 3px 0px 7px rgba(81, 67, 21, 0.8),
        -3px 0px 7px rgba(81, 67, 21, 0.8),
        0px 4px 7px rgba(81, 67, 21, 0.8);
}

.screen {
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    border: none !important;
    border-radius: 20px !important;
}

.btn, .btn-clear, .btn-equal {
    border: none !important;
}

.btn-hover-effect {
    background-color: white !important;
    color: black !important;
}

.btn-hover-effect:hover {
    background-color: black !important;
    color: white !important;
}

.blk {
    background-color: black;
    color: white;
}

.blk:hover {
    background-color: white;
    color: black;
}

.btn-equal {
    border: none;
    padding: 0 16px;
    border-radius: 100%;
    background-color: white;
    font-weight: bold;
    transition: all 0.7s ease;
}

.btn-equal:hover {
    background-color: lightgrey;
}

.bg {
    background-color: rgb(41, 41, 250) !important;
    color: white !important;
}